@font-face {
    font-family: 'Vollkorn';
    src: url('~/assets/fonts/Vollkorn/Vollkorn-Regular.ttf') format('truetype'),
        url('~/assets/fonts/Vollkorn/Vollkorn-Bold.ttf') format('truetype');
}

body {
    background-color: #232323;
}
